<main class="my-5 text-center">
  <div class="row">
    <div class="col-12">
      <h1 class="my-4 text-4xl">Dashboard</h1>
      <a href="/newpost" class="btn btn-primary text-2xl border-2 rounded-lg hover:scale-110 hover:bg-green-600 bg-opacity-40 hover:opacity-100">Create a New Blog Post</a>
    </div>
  </div>
  <br>
  <h1 class="my-4 text-xl bg-blue-500 border-4">Tech Space Contributions:</h1>
  {{#each posts}}
    <div class="post-container post my-4">
      <h2><a href="/post/{{id}}" class="text-decoration-none text-reset">{{title}}</a></h2>
      <p>Created by: {{user.username}} | Date: {{format_date createdAt}}</p>
      <a href="/editpost/{{id}}" class="btn btn-warning text-xl border-2 rounded-lg hover:scale-110 hover:bg-yellow-600 bg-opacity-40 hover:opacity-100">Edit Post</a>
      <button class="btn btn-danger delete-post text-xl border-2 rounded-lg hover:scale-110 hover:bg-red-600 bg-opacity-40 hover:opacity-100" data-post-id="{{id}}">Delete</button>
    </div>
  {{/each}}
</main>
